@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Inknut+Antiqua&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,600,700&display=swap");

body {
	background: #28221f;
	font-family: "Lora", serif;
}

.black-screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	overflow: none;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 500;
}

.black-screen .form {
	position: relative;
	background: #ffffff;
	border-radius: 10px;
	padding: 15px;
}

#debug {
	position: absolute;
	right: 25px;
	top: 25px;
}
#debug button {
	padding: 5px 20px;
	cursor: pointer;
}

/* ------------------------------------------------------------------------*/
/* ------------------------ GRID INDICATIONS ----------------------------- */
/* ------------------------------------------------------------------------*/

#wrapper {
	display: grid;
	grid-template-columns: repeat(1, 1fr 3fr);
	grid-auto-rows: minmax(100px, auto);
	grid-template-rows: repeat(1, 2fr 1fr 10fr 1fr);
	height: 100vh;
}

header {
	grid-row: 1;
	grid-column: 1/3;
}

nav {
	grid-row: 2;
	grid-column: 1/3;
}

aside {
	grid-row: 3;
	grid-column: 1;
}

main {
	grid-row: 3;
	grid-column: 2/3;
}

footer {
	grid-row: 4;
	grid-column: 1/3;
}

/* ----------------------------------------------------------------------- */
/* ---------------------------- HEADINGS --------------------------------- */
/* ----------------------------------------------------------------------- */

h1 {
	color: #d1ca80;
	font-size: 5em;
	text-shadow: 2px 6px 0px rgba(0, 0, 0, 0.8);
	font-family: "Inknut Antiqua", serif;
	text-align: center;
	z-index: 10;
}

h2 {
	font-size: 2.5em;
	font-family: "Inknut Antiqua", serif;
	text-align: right;
}

section h2 {
	position: absolute;
	top: -35px;
	right: 70px;
	text-align: center;
	font-size: 2em;
	color: #d1ca80;
	background: #413325;
	border: 3px solid #d1ca80;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	padding: 0 50px;
	line-height: 1.8em;
}

button {
	padding: 10px;
	color: #fff;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.1s ease-in-out;
}

button.up {
	background: linear-gradient(#65845c, #3a5941);
	text-shadow: 0 2px 0 #3a5941;
	border: 2px solid #3a5941;
}

button.up:hover {
	background: #3a5941;
}

button.down {
	background: linear-gradient(#c96d45, #a52d27);
	text-shadow: 0 2px 0 #a52d27;
	border: 2px solid #a52d27;
}

button.down:hover {
	background: #a52d27;
}

.mini-close {
	border-radius: 40%;
	font-size: 0.8em;
	line-height: 0.8em;
	position: absolute;
	top: -10px;
	right: -10px;
}

/* ----------------------------------------------------------------------- */
/* ---------------------------- HEADINGS --------------------------------- */
/* ----------------------------------------------------------------------- */

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#day-bar {
	position: relative;
	top: -50px;
	border-radius: 5px;
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.8);
	height: 20px;
	width: 50%;
}

#day-bar div {
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.8);
	background: #4c6ead;
	height: 20px;
	border-radius: 5px;
	transition: background 1s ease;
	width: 0%;
}

aside {
	background: #836b3f;
}

nav {
	background: #836b3f;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav > ul {
	display: flex;
	align-items: center;
}

nav > ul > li {
	cursor: pointer;
	padding: 10px 20px;
	position: relative;
	font-weight: bold;
}

nav li[data-type="link"]:last-child {
	margin-right: 20px;
}

nav li[data-type="resources"]:first-child {
	margin-left: 20px;
}

nav > ul ul {
	background: #836b3f;
	border-radius: 10px;
	box-shadow: 0px 5px 5px #28221f;
	visibility: hidden;
	cursor: default;
	opacity: 0;
	left: 0;
	position: absolute;
	font-weight: normal;
	padding: 10px;
	width: 250px;
	z-index: 500;
}

nav > ul ul li {
	font-size: 0.9em;
	padding: 5px 0;
	display: flex;
	position: relative;
}

nav > ul ul li img {
	margin-right: 10px;
}

nav > ul ul li :nth-last-child(1) {
	position: absolute;
	right: 0;
	font-weight: 700;
}

nav li[data-type="resources"]:hover > ul {
	visibility: visible !important;
	opacity: 1;
}

nav li[data-type="resources"]:hover > ul:empty {
	visibility: hidden !important;
	opacity: 0;
}

section {
	background: #413325;
	border: 3px solid #d1ca80;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	padding: 70px 50px;
	margin: 50px;
	display: none;
	position: relative;
}

section:first-child {
	display: block;
}

.element {
	padding: 5px 0;
	display: flex;
	justify-content: flex-start;
}

.element span {
	/* display: inline-block; */
	flex: 1;
}

.element strong {
	text-align: right;
	margin-right: 20px;
	flex: 1;
}

.element img {
	cursor: pointer;
	/* position: relative;
	top: 5px; */
}

section.listElems .flex {
	display: flex;
}

section.listElems .flex > * {
	flex-basis: 50%;
}

/* section.listElems .flex > article.list {
} */
section.listElems .flex > div.number {
	color: rgba(0, 0, 0, 0.1);
	position: relative;
	font-size: 10em;
	text-align: center;
}
section.listElems .flex > div.number span.desc {
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 45%;
	left: 0;
	text-align: center;
	width: 100%;
	font-size: 0.1em;
}

/* ----------------------------------------------------------------------- */
/* ------------------------ MULTIPLE BLOCKS ------------------------------ */
/* ----------------------------------------------------------------------- */

.blocks .content {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.blocks article {
	background: #d1ca80;
	position: relative;
	width: 30%;
	border: 2px solid #28221f;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	margin-bottom: 30px;
}

.blocks article h3 {
	padding: 5px 10px;
	font-family: "Inknut Antiqua", serif;
	font-size: 1.05em;
}

.blocks article span.level {
	position: absolute;
	color: #fff;
	top: -10px;
	right: -10px;
	background: #a52d27;
	text-align: center;
	width: 35px;
	border: 2px solid #28221f;
	line-height: 30px;
	border-radius: 50%;
	box-shadow: 2px 2px 0px #28221f;
	font-family: "Inknut Antiqua", serif;
	font-weight: bold;
	z-index: 1;
}

.blocks article h3 {
	z-index: 10;
}

.blocks img {
	float: left;
	border: 1px solid;
	width: 100px;
	height: 100px;
	margin: 0 10px;
}

.blocks article p {
	padding: 0 15px;
	text-align: justify;
	font-size: 0.9em;
}

.blocks article table {
	clear: both;
	padding: 0 15px;
	font-size: 0.8em;
	text-align: center;
	width: 100%;
}

.blocks article td:first-child {
	text-align: left;
	font-weight: bold;
}

.blocks article .buttons {
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
}

.blocks .buttons button:hover {
	transform: scale(1.3);
}

.blocks .content > button {
	flex-basis: 100%;
}

.blocks.large .content {
	flex-direction: column;
}

.blocks.large .content article {
	width: 100%;
	padding: 30px 10px;
	padding-bottom: 20px;
	margin-bottom: 40px;
}

.blocks.large .content article:last-child {
	margin-bottom: 0;
}

.blocks.large h3,
.blocks.large .info-bloc {
	border-radius: 10px;
	background: #d1ca80;
	box-shadow: 2px 2px 0px #28221f;
}

.blocks.large h3 {
	position: absolute;
	top: -30px;
	left: 0;
	padding: 0 20px;
	font-family: "Inknut Antiqua", serif;
}

.blocks.large .info-bloc {
	position: absolute;
	bottom: -30px;
	right: 0;
	padding: 10px 30px;
	font-size: 0.8em;
}

/* ----------------------------------------------------------------------- */
/* -------------------------- BATTLE MAP -------------------------------- */
/* ----------------------------------------------------------------------- */

.black-screen.map {
	display: flex;
	justify-content: center;
}

.arena {
	position: absolute;
	top: 100px;
	margin-left: -100px;
}

.arena .tile {
	position: absolute;
	display: inline-block;
	height: 121px;
	width: 135px;
	padding-left: 50px;
	padding-top: -20px;
	z-index: -1;
}

.arena .tile.grass-1 {
	background: url("./../assets/img/battles/greenGrass1-tiles.png") no-repeat;
}

.arena .tile.grass-2 {
	background: url("./../assets/img/battles/greenGrass2-tiles.png") no-repeat;
}

.arena .tile.grass-3 {
	background: url("./../assets/img/battles/greenGrass3-tiles.png") no-repeat;
}

.arena .tile.grass-4 {
	background: url("./../assets/img/battles/greenGrass4-tiles.png") no-repeat;
}

.arena .tile.grass-5 {
	background: url("./../assets/img/battles/greenGrass5-tiles.png") no-repeat;
}

.arena .tile.variant-1 {
	background-position-x: 0;
}

.arena .tile.variant-2 {
	background-position-x: -164px;
}

.arena .tile.variant-3 {
	background-position-x: -330px;
}

.arena .tile.variant-4 {
	background-position-x: -494px;
}

.arena .tile.variant-5 {
	background-position-x: -660px;
}

.arena .tile.variant-6 {
	background-position-x: -824px;
}

.arena .character {
	display: inline-block;
	position: relative;
	z-index: 10000000;
	background-position-x: -1px;
	background-position-y: -1px;
	background-repeat: no-repeat;
	margin-top: -25px;
}

.arena .rei {
	background-image: url("./../assets/img/character/rei.png");
	width: 51px;
	height: 62px;
}

.arena .ryu {
	background-image: url("./../assets/img/character/ryu.png");
	background-position-x: 0px;
	background-position-y: 0px;
	width: 27px;
	height: 45px;
}

.arena .teepo {
	background-image: url("./../assets/img/character/teepo.png");
	width: 24px;
	height: 32px;
}

.arena .momo {
	background-image: url("./../assets/img/character/momo.png");
	width: 37px;
	height: 47px;
}

.arena .garr {
	background-image: url("./../assets/img/character/garr.png");
	width: 99px;
	height: 114px;
	margin-top: -70px;
}

.arena .thordak {
	background-image: url("./../assets/img/enemies/dragonlord.png");
	width: 233px;
	height: 190px;
	margin-left: -150px;
	margin-top: -100px;
}

#characters {
	display: flex;
	position: absolute;
	bottom: 50px;
}

#characters .bloc {
	position: relative;
	background: linear-gradient(#d1ca80, #a29d6b 70%);
	width: 200px;
	border-radius: 5px;
	border: 2px solid #869598;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
}

#characters .row-top {
	position: absolute;
	top: -27px;
	color: #fff;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
		2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-weight: 700;
	width: 100%;
}
#characters .row-top > div {
	text-align: right;
	font-size: 1.5em;
}

#characters .row-top > div > div:not(.lifeBarContainer) {
	position: absolute;
	top: -10px;
	right: 5px;
	text-align: right;
}

#characters .row-top strong {
	color: #c96d45;
	font-size: 1.3em;
	display: inline-block;
	position: relative;
	/* top: 5px; */
}

#characters .row-top strong span {
	position: relative;
	top: -3px;
	margin-right: -2px;
}

#characters .lifeBarContainer {
	border: 1px solid #869598;
	border-radius: 5px;
	width: 160px;
	height: 15px;
}

#characters .lifeBarContainer .life {
	background: linear-gradient(#65845c, #3a5941);
	height: 100%;
}

#characters .row-bot {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-direction: row-reverse;
	bottom: -16px;
	width: 100%;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
		2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}

#characters .apBarContainer {
	border: 1px solid #869598;
	border-radius: 5px;
	width: 160px;
	height: 15px;
}

#characters .apBarContainer .ap {
	background: linear-gradient(#855b69, #503b68);
	height: 100%;
}

#characters .row-bot strong {
	color: #c96d45;
	font-size: 1.3em;
	display: inline-block;
	position: relative;
	right: 5px;
	top: 5px;
}

#characters .row-bot strong span {
	position: relative;
	top: -3px;
	margin-right: -2px;
}

#characters .portrait {
	background-image: url("./../assets/img/character/portraits-x2.png");
	background-repeat: no-repeat;
	width: 80px;
	height: 96px;
	display: inline-block;
	border-top-left-radius: 5px;
	border-right: 1px solid #869598;
	font-size: 0;
}

#characters .portrait.rei {
	background-position-x: -186px;
	background-position-y: -114px;
}

#characters .portrait.ryu {
	background-position-x: -10px;
	background-position-y: -114px;
}

#characters .portrait.teepo {
	background-position-x: -274px;
	background-position-y: -10px;
}

#characters .portrait.momo {
	background-position-x: -362px;
	background-position-y: -10px;
}

#characters .portrait.garr {
	background-position-x: -362px;
	background-position-y: -114px;
}

#characters .name {
	margin-right: 10px;
	font-weight: bold;
	font-family: "Inknut Antiqua", serif;
}
