@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Inknut+Antiqua&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,600,700&display=swap");

body {
	font-family: "Lora", serif;
	background: #28221f;
}

.black-screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	overflow: none;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 500;
}

.black-screen .form {
	position: relative;
	background: #ffffff;
	border-radius: 10px;
	padding: 15px;
}

.form.content {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
}

.form.content .testButton {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 20px;
}

.form.content .testButton ul {
	margin-right: 20px;
}

.form.content article {
	background: #d1ca80;
	border-radius: 10px;
	padding: 20px;
	border: 4px solid #63492c;
	box-shadow: inset 0 0 100px #63492c;
	width: calc(50% - 20px);
	margin: 10px;
}

#debug {
	position: absolute;
	right: 25px;
	top: 25px;
}
#debug button {
	padding: 5px 20px;
	cursor: pointer;
}

/* ------------------------------------------------------------------------*/
/* ------------------------ GRID INDICATIONS ----------------------------- */
/* ------------------------------------------------------------------------*/

#wrapper {
	display: grid;
	grid-template-columns: repeat(1, 1fr 3fr);
	grid-auto-rows: minmax(100px, auto);
	grid-template-rows: repeat(1, 2fr 1fr 10fr 1fr);
	min-height: 100vh;
	height: 100%;
	box-shadow: inset 0 0 500px rgba(0, 0, 0, 0.8);
}

header {
	grid-row: 1;
	grid-column: 1/3;
}

nav {
	grid-row: 2;
	grid-column: 1/3;
}

aside {
	grid-row: 3;
	grid-column: 1;
}

main {
	grid-row: 3;
	grid-column: 2/3;
}

footer {
	grid-row: 4;
	grid-column: 1/3;
}

/* ----------------------------------------------------------------------- */
/* ---------------------------- HEADINGS --------------------------------- */
/* ----------------------------------------------------------------------- */

h1 {
	color: #d1ca80;
	font-size: 5em;
	text-shadow: 2px 6px 0px rgba(0, 0, 0, 0.8);
	font-family: "Inknut Antiqua", serif;
	text-align: center;
	z-index: 10;
}

h2 {
	font-size: 2.5em;
	font-family: "Inknut Antiqua", serif;
	text-align: right;
}

section h2 {
	position: absolute;
	top: -35px;
	right: 70px;
	text-align: center;
	font-size: 2em;
	color: #d1ca80;
	background: #413325;
	border: 3px solid #d1ca80;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	padding: 0 50px;
	line-height: 1.8em;
}

button {
	padding: 10px;
	color: #fff;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.1s ease-in-out;
}

button.up {
	background: linear-gradient(#65845c, #3a5941);
	text-shadow: 0 2px 0 #3a5941;
	border: 2px solid #3a5941;
}

button.up:hover {
	background: #3a5941;
}

button.down {
	background: linear-gradient(#c96d45, #a52d27);
	text-shadow: 0 2px 0 #a52d27;
	border: 2px solid #a52d27;
}

button.down:hover {
	background: #a52d27;
}

.mini-close {
	border-radius: 40%;
	font-size: 0.8em;
	line-height: 0.8em;
	position: absolute;
	top: -10px;
	right: -10px;
}

/* ----------------------------------------------------------------------- */
/* ---------------------------- THINGS.. --------------------------------- */
/* ----------------------------------------------------------------------- */

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#day-bar {
	position: relative;
	top: -50px;
	border-radius: 5px;
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.8);
	height: 20px;
	width: 50%;
}

#day-bar div {
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.8);
	background: #4c6ead;
	height: 20px;
	border-radius: 5px;
	transition: background 1s ease;
	width: 0%;
}

aside {
	background: #28221f;
	/* background: #413325; */
	color: rgba(209, 202, 128, 0.2);
	text-shadow: 0 0 15px #000;
	border: 3px solid #d1ca80;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8), inset 0 0 200px rgba(0, 0, 0, 0.7);
	padding: 20px 50px;
	margin-top: 50px;
	margin-left: 50px;
}

aside h2 {
	font-size: 2em;
	margin-right: 20px;
}

aside ul {
	margin-left: 50px;
	text-transform: capitalize;
}
aside ul li {
	padding: 5px 0;
}

nav {
	background: #413325;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 2px solid #a29d6b;
	border-bottom: 4px solid #a29d6b;
	color: #a29d6b;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
	text-shadow: 2px 2px 0 #28221f;
}

nav > div {
	position: relative;
	top: -40px;
	padding: 10px 50px;
	background: #413325;
	border-radius: 10px;
	border-top: 2px solid #a29d6b;
	font-weight: 700;
}

nav > ul {
	display: flex;
	align-items: center;
}

nav > ul > li {
	cursor: pointer;
	padding: 10px 20px;
	position: relative;
	font-weight: bold;
}

nav > ul .green {
	color: #65845c;
	font-weight: 700;
}

nav > ul .red {
	color: #a52d27;
	font-weight: 700;
}

nav > ul .grey {
	color: #869598;
	font-weight: 700;
}

nav li[data-type="link"]:last-child {
	margin-right: 20px;
}

nav li[data-type="resources"]:first-child {
	margin-left: 20px;
}

nav > ul ul {
	background: #836b3f;
	background: #413325;
	border-radius: 10px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.8);
	visibility: hidden;
	cursor: default;
	color: #000;
	opacity: 0;
	left: 0;
	position: absolute;
	font-weight: normal;
	padding: 10px;
	width: 250px;
	z-index: 500;
	text-shadow: none;
}

nav > ul ul li {
	font-size: 0.9em;
	padding: 5px 0;
	display: flex;
	position: relative;
}

nav > ul ul li img {
	margin-right: 10px;
}

nav > ul ul li :nth-last-child(1) {
	position: absolute;
	right: 0;
	font-weight: 700;
}

nav li[data-type="resources"]:hover > ul {
	visibility: visible !important;
	opacity: 1;
}

nav li[data-type="resources"]:hover > ul:empty {
	visibility: hidden !important;
	opacity: 0;
}

section {
	background: #413325;
	border: 3px solid #d1ca80;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8), inset 0 0 200px rgba(0, 0, 0, 0.7);
	padding: 70px 50px;
	margin: 50px;
	margin-bottom: 0;
	display: none;
	position: relative;
}

section:first-child {
	display: block;
}

.element {
	padding: 5px 0;
	display: flex;
	justify-content: flex-start;
}

.element span {
	/* display: inline-block; */
	flex: 1;
}

.element strong {
	text-align: right;
	margin-right: 20px;
	flex: 1;
}

.element img {
	cursor: pointer;
	/* position: relative;
	top: 5px; */
}

section.listElems .flex {
	display: flex;
}

section.listElems .flex > * {
	flex-basis: 50%;
}

/* section.listElems .flex > article.list {
} */
section.listElems .flex div.number {
	color: rgba(201, 109, 69, 0.2);
	position: relative;
	font-size: 10em;
	text-align: center;
	border: 5px solid #a29d6b;
	background: #413325;
	border-radius: 50%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), inset 0 0 100px rgba(0, 0, 0, 0.5);
	width: 200px;
	margin: 0 auto;
}
section.listElems .flex div.number span.desc {
	color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 45%;
	left: 0;
	text-align: center;
	font-weight: 700;
	width: 100%;
	font-size: 0.1em;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
		2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}

section.listElems .element {
	background: #d1ca80;
	padding: 10px 20px;
	margin: 10px 0;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.1s ease-in-out, background 0.2s ease-in-out;
}

section.listElems .element:hover {
	background: #ece7b2;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

/* ----------------------------------------------------------------------- */
/* ------------------------ MULTIPLE BLOCKS ------------------------------ */
/* ----------------------------------------------------------------------- */

.blocks .content {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.blocks article {
	background: #d1ca80;
	position: relative;
	width: 30%;
	border: 2px solid #28221f;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	margin-bottom: 30px;
}

.blocks article h3 {
	padding: 5px 10px;
	font-family: "Inknut Antiqua", serif;
	font-size: 1.05em;
}

.blocks article span.level {
	position: absolute;
	color: #fff;
	top: -10px;
	right: -10px;
	background: #a52d27;
	text-align: center;
	width: 35px;
	border: 2px solid #28221f;
	line-height: 30px;
	border-radius: 50%;
	box-shadow: 2px 2px 0px #28221f;
	font-family: "Inknut Antiqua", serif;
	font-weight: bold;
	z-index: 1;
}

.blocks article h3 {
	z-index: 10;
}

.blocks article p {
	padding: 0 15px;
	text-align: justify;
	font-size: 0.9em;
}

.blocks article table {
	clear: both;
	padding: 0 15px;
	font-size: 0.8em;
	text-align: center;
	width: 100%;
}

.blocks article td:first-child {
	text-align: left;
	font-weight: bold;
}

.blocks article .buttons {
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
}

.blocks .buttons button:hover {
	transform: scale(1.3);
}

.blocks .content > button {
	flex-basis: 100%;
}

.blocks.large .content {
	flex-direction: column;
}

.blocks.large .content article {
	width: 100%;
	padding: 30px 10px;
	padding-bottom: 20px;
	margin-bottom: 40px;
}

.blocks.large .content article:last-child {
	margin-bottom: 0;
}

.blocks.large h3,
.blocks.large .info-bloc {
	border-radius: 10px;
	background: #d1ca80;
	box-shadow: 2px 2px 0px #28221f;
}

.blocks.large h3 {
	position: absolute;
	top: -30px;
	left: 0;
	padding: 0 20px;
	font-family: "Inknut Antiqua", serif;
}

.blocks.large .info-bloc {
	position: absolute;
	bottom: -30px;
	right: 0;
	padding: 10px 30px;
	font-size: 0.8em;
}

/* ----------------------------------------------------------------------- */
/* -------------------------- BATTLE MAP -------------------------------- */
/* ----------------------------------------------------------------------- */

.black-screen.map {
	display: flex;
	justify-content: center;
}

.arena {
	position: absolute;
	top: 100px;
	margin-left: -100px;
}

.arena .tile {
	position: absolute;
	display: inline-block;
	height: 121px;
	width: 135px;
	padding-left: 50px;
	padding-top: -20px;
	z-index: -1;
}

.arena .tile.grass-1 {
	background: url("./../assets/img/battles/greenGrass1-tiles.png") no-repeat;
}

.arena .tile.grass-2 {
	background: url("./../assets/img/battles/greenGrass2-tiles.png") no-repeat;
}

.arena .tile.grass-3 {
	background: url("./../assets/img/battles/greenGrass3-tiles.png") no-repeat;
}

.arena .tile.grass-4 {
	background: url("./../assets/img/battles/greenGrass4-tiles.png") no-repeat;
}

.arena .tile.grass-5 {
	background: url("./../assets/img/battles/greenGrass5-tiles.png") no-repeat;
}

.arena .tile.variant-1 {
	background-position-x: 0;
}

.arena .tile.variant-2 {
	background-position-x: -164px;
}

.arena .tile.variant-3 {
	background-position-x: -330px;
}

.arena .tile.variant-4 {
	background-position-x: -494px;
}

.arena .tile.variant-5 {
	background-position-x: -660px;
}

.arena .tile.variant-6 {
	background-position-x: -824px;
}

.arena .character {
	display: inline-block;
	position: relative;
	z-index: 10000000;
	background-position-x: -1px;
	background-position-y: -1px;
	background-repeat: no-repeat;
	margin-top: -5px;
}

.arena .rei {
	background-image: url("./../assets/img/character/rei.png");
	width: 51px;
	height: 62px;
}

.arena .ryu {
	background-image: url("./../assets/img/character/ryu.png");
	background-position-x: 0px;
	background-position-y: 0px;
	width: 27px;
	height: 45px;
}

.arena .teepo {
	background-image: url("./../assets/img/character/teepo.png");
	width: 24px;
	height: 32px;
}

.arena .momo {
	background-image: url("./../assets/img/character/momo.png");
	width: 37px;
	height: 47px;
}

.arena .garr {
	background-image: url("./../assets/img/character/garr.png");
	width: 99px;
	height: 114px;
	margin-top: -50px;
	margin-left: -20px;
}

.arena .chicken {
	background-image: url("./../assets/img/enemies/chicken.png");
	width: 56px;
	height: 59px;
}

.arena .orc {
	background-image: url("./../assets/img/enemies/orc.png");
	width: 79px;
	height: 86px;
	margin-left: -20px;
	margin-top: -30px;
}

.arena .patrio {
	background-image: url("./../assets/img/enemies/patrio.png");
	width: 51px;
	height: 77px;
	margin-top: -25px;
}

.arena .ripper {
	background-image: url("./../assets/img/enemies/ripper.png");
	width: 68px;
	height: 100px;
	margin-top: -45px;
}

.arena .fullweed {
	background-image: url("./../assets/img/enemies/fullweed.png");
	width: 96px;
	height: 69px;
	margin-top: -20px;
	margin-left: -40px;
}

.arena .guard {
	background-image: url("./../assets/img/enemies/guard.png");
	width: 39px;
	height: 55px;
}

.arena .armor {
	background-image: url("./../assets/img/enemies/armor.png");
	width: 85px;
	height: 97px;
	margin-top: -35px;
	margin-left: -20px;
}

.arena .elder {
	background-image: url("./../assets/img/enemies/elder.png");
	width: 199px;
	height: 133px;
	margin-top: -75px;
	margin-left: -70px;
}

.show-damages {
	color: #fff;
	font-weight: 700;
	position: absolute;
	top: -40px;
	font-size: 1.5em;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
		2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}

#characters {
	display: flex;
	position: absolute;
	bottom: 200px;
}

#characters .bloc {
	position: relative;
	background: linear-gradient(#d1ca80, #a29d6b 70%);
	width: 200px;
	border-radius: 5px;
	border: 2px solid #869598;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
	margin: 0 5px;
	box-shadow: 0 0 25px #000;
}

#characters .row-top {
	position: absolute;
	top: -27px;
	color: #fff;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
		2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-weight: 700;
	width: 100%;
}
#characters .row-top > div {
	text-align: right;
	font-size: 1.5em;
}

#characters .row-top > div > div:not(.lifeBarContainer) {
	position: absolute;
	top: -10px;
	right: 5px;
	text-align: right;
}

#characters .row-top strong {
	color: #c96d45;
	font-size: 1.3em;
	display: inline-block;
	position: relative;
	/* top: 5px; */
}

#characters .row-top strong span {
	position: relative;
	top: -3px;
	margin-right: -2px;
}

#characters .lifeBarContainer {
	border: 1px solid #869598;
	box-shadow: inset 0 0 15px #000;
	background: #28221f;
	border-radius: 5px;
	width: 160px;
	height: 15px;
}

#characters .lifeBarContainer .life {
	background: linear-gradient(#65845c, #3a5941);
	height: 100%;
	width: 100%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	transition: width 0.1s ease-in;
}

#characters .row-bot {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-direction: row-reverse;
	bottom: -16px;
	width: 100%;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
		2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}

#characters .apBarContainer {
	border: 1px solid #869598;
	border-radius: 5px;
	box-shadow: inset 0 0 15px #000;
	background: #28221f;
	display: flex;
	flex-direction: row-reverse;
	width: 160px;
	height: 15px;
}

#characters .apBarContainer .ap {
	background: linear-gradient(#855b69, #503b68);
	height: 100%;
	width: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#characters .row-bot strong {
	color: #c96d45;
	font-size: 1.3em;
	display: inline-block;
	position: relative;
	right: 5px;
	top: 5px;
}

#characters .row-bot strong span {
	position: relative;
	top: -3px;
	margin-right: -2px;
}

#characters .portrait {
	background-image: url("./../assets/img/character/portraits-x2.png");
	background-repeat: no-repeat;
	width: 80px;
	height: 96px;
	display: inline-block;
	border-top-left-radius: 5px;
	border-right: 1px solid #869598;
	font-size: 0;
}

#characters .portrait.rei {
	background-position-x: -186px;
	background-position-y: -114px;
}

#characters .portrait.ryu {
	background-position-x: -10px;
	background-position-y: -114px;
}

#characters .portrait.teepo {
	background-position-x: -274px;
	background-position-y: -10px;
}

#characters .portrait.momo {
	background-position-x: -362px;
	background-position-y: -10px;
}

#characters .portrait.garr {
	background-position-x: -362px;
	background-position-y: -114px;
}

#characters .name {
	margin-right: 10px;
	font-weight: bold;
	font-family: "Inknut Antiqua", serif;
}

#action-ui {
	display: flex;
	position: relative;
	color: #fff;
	flex-direction: column;
	margin-top: -200px;
	z-index: 10;
}

#action-ui .act {
	position: absolute;
	width: 64px;
	height: 64px;
	text-align: center;
	box-sizing: content-box;

	background: #d1ca80;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	background-position: center center;
	border: 4px solid #869598;
	border-radius: 5px;
	box-shadow: inset 0 0 15px #63492c, 0 0 3px #836b3f;

	transition: transform 0.1s ease-in-out;
	cursor: pointer;
	transform: scale(0.9);
}

#action-ui .act.attack {
	background-image: url("../assets/img/ui/attack.png");
	z-index: 10;
	transform: scale(1.2);
}

#action-ui .act.magick {
	background-image: url("../assets/img/ui/magick.png");
	margin-top: -50px;
}

#action-ui .act.flee {
	background-image: url("../assets/img/ui/flee.png");
	margin-top: 50px;
}

#action-ui .act.item {
	background-image: url("../assets/img/ui/items.png");
	margin-left: -50px;
}

#action-ui .act.defense {
	background-image: url("../assets/img/ui/defend.png");
	margin-left: 50px;
}

#action-ui .act:hover {
	border-color: #c96d45;
	transform: scale(1.1);
	z-index: 15;
}

#action-ui .act.attack:hover {
	transform: scale(1.5);
}

#action-ui .character-name {
	padding: 10px;
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: -100px;
	border-radius: 10px;
	color: #869598;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
		2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
	z-index: 500;
	width: 200px;
	box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.1),
		0 0 5px rgba(0, 0, 0, 0.8);
	font-size: 1.1em;
	margin-left: -65px;
	text-align: center;
}

.message-box {
	position: absolute;
	bottom: 80px;
	background: #413325;
	padding: 20px;
	border-radius: 10px;
	box-shadow: inset 0 0 50px #28221f;
	border: 4px solid #a29d6b;
	color: #a29d6b;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
	font-weight: 600;
	font-size: 1.2em;
	z-index: 500000;
	overflow: none;
	width: 70%;
	left: 15%;
}

.message-box .blue {
	color: #7ca8d5;
}

.message-box .red {
	color: #a52d27;
	font-weight: 700;
}

.costList {
	margin-top: 10px;
	margin-left: 10px;
}

.costList img {
	margin-right: 10px;
}
